@import url(https://fonts.googleapis.com/css?family=Sigmar+One|Montserrat|Arvo);
*{
	font-family: 'Arvo', serif;
	text-align: center;
	padding: 0;
	margin: 0;
	-webkit-transition: all 0.2s 0.1s ease-out;
	   -moz-transition: all 0.2s 0.1s ease-out;
		 -o-transition: all 0.2s 0.1s ease-out;
	    -ms-transition: all 0.2s 0.1s ease-out;
         	transition: all 0.2s 0.1s ease-out;
}
a,li,ul,ol{
	text-decoration: none;
	list-style: none;
	color: #fff;
}
h1,h2,h3,h4,h5,h6,span{
	font-family: 'Montserrat', sans-serif;
}
body{
	background-color: #fff;
}
.fixed{
	position: fixed !important;
}
.section{
	z-index: 98;
	position: relative;
}
.menu{
	display: block;
	font-size: 0;
	position: absolute;
	top: 0;
	z-index: 99;
}
.link{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 12%;
}
.link p{
	font-family: 'Sigmar One', cursive;
	font-size: 20px;
	padding: 10px;
	background-color: #222d2f;
}
.link p:hover, .active p{
	color: #fff;
	background-color: #3498db;
	box-shadow: 0px 0px 10px #222d2f;
}
.active p{
	background-color: #2980b9;
}
.link:hover p{
	-webkit-transform: rotateX(360deg);
	transform: rotateX(360deg);
}
.logo{
	z-index: 11;
	width: 20%;
	box-shadow: 0px 0px 10px #333;
}
.right-border{
	border-right: 2px solid #fafafa;
}
.img-responsive{
	width: 100%;
	height: 100%;
}
.gallery h1{
	padding-top: 10%;
	font-size: 300%;
}
.footer{
	background-color: #2980b9;
	padding: 2%;
}
.footer h4{
	font-weight: 200;
	margin-bottom: 1%;
}
.footer a:hover{
	color: #ffc200;
}
.footer a:hover span{
	color: #66cc00;
}
.social{
	position: fixed;
	top: 30px;
	right: 0;
	z-index: 9999;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 10px rgba(34,34,34,0.7);
	box-shadow: 0px 0px 10px rgba(34,34,34,0.7);
}
.se{
	top: 90px;
}
.social p{
	color: #000;
	display: none;
}
.social div{
	width: 50px;
	height: 50px;
	padding: 5px;
	background-color: #fff;
}
.social div:hover{
	background-color: #222d2f;
}
.social h4{
	display: none;
	font-weight: normal;
	padding: 2% 0;
	background-color: #222d2f;
	border-bottom: 2px solid #fff;
}
@media screen and (max-width: 800px) {
	body{
		-webkit-background-size: auto 100%;
		background-size: auto 100%;
	}
	p{
		margin: 0;
	}
	.fixed{
		position: relative !important;
	}
	.menu{
		position: relative;
	}
	.link{
		display: block;
		vertical-align: top;
		width: 100%;
	}
	.right-border{
		border: none;
	}
	.social{
		position: relative;
		top: 0;
	}
	.social div{
		display: none;
	}
	.social h4{
		display: block;
	}
	.gallery span{
		font-size: 100%;
	}
	.pic{
		display: block;
		width: 94%;
		margin: 10px 3%;
	}
}